services:

  # Pull WordPress image from Docker Hub
  wordpress:
    image: wordpress:latest
    container_name: wordpress # Name of the container
    restart: always # Restart the container if it stops
    ports:
      - 80:80 # Map port 80 on the host to port 80 on the container
    depends_on: # Wait for the database to start
      - db
    env_file:
      - ./.env-wordpress

    volumes:
      - wordpress:/var/www/html # Persist data

  # Pull MySQL image from Docker Hub
  db:
    image: mysql:8.0
    container_name: mysql # Name of the container
    restart: always # Restart the container if it stops
    env_file:
      - ./.env-mysql
    volumes:
      - db:/var/lib/mysql # Persist data

  # Pull phpMyAdmin image from Docker Hub
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin # Name of the container
    restart: always # Restart the container if it stops
    ports:
      - 81:80 # Map port 81 on the host to port 80 on the container
    depends_on:
      - db # Wait for the database to start
    env_file:
      - ./.env-phpmyadmin

# Volumes to store data
volumes:
  wordpress:
  db:
